
    <article class="card-body mx-auto h-100 d-flex flex-column justify-content-center p-0">
        
        <form class="shadow  bg-dark rounded position-relative p-3"     
                    [formGroup]="userDataForm"
                    (ngSubmit)="submitUserForm(userDataForm.value)">
                    <span id="close" (click)="onCancelClick()"><a>x</a></span>
            <div class="form-group text-white">
                <p class="text-center title" > <strong>LOGIN</strong> </p>
            </div>
            <div class="form-group input-group">
                <mat-form-field
                  class="input-field w-100"
                  [hideRequiredMarker]="false">
                  <input
                    matInput
                    formControlName="usuario"
                    placeholder="usuario"
                    required>
                  <mat-error *ngIf="userDataForm.get('usuario')?.invalid" class="text-danger">
                    El campo <strong>usuario</strong> es requerido
                  </mat-error>
                </mat-form-field>
            </div>    
        
        <div class="form-group input-group">
            <mat-form-field
            class="input-field w-100"
            [hideRequiredMarker]="false">
            <input
              matInput
              type="password"
              formControlName="contraseña"
              placeholder="contraseña"
              required>
            <mat-error *ngIf="userDataForm.get('contraseña')?.invalid">
              El campo <strong>contraseña</strong> es requerido
            </mat-error>
          </mat-form-field>
        </div>
        
            <div class="form-group  d-flex flex-row justify-content-center">
                <button id="send" type="submit" value="login" class="btn bg-white mt-2 px-5"> Ingresar  </button>
            </div>     
            <div class="form-group">
                <p class="text-center"> <a class= "text-white" href="">Olvido su contraseña?</a> </p>  
            </div>                                                                     
        </form>
        </article>