<div class="container centrar">
    <h3>Deportistas que participarán</h3>
    

    <div class="row justify-content-center">
   
      <div class="deportistaContainer" *ngFor="let deportista of deportistas; let i = index">
          
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <img class="imagenDeportista" src="../../../../assets/{{ deportista.foto }}"  alt="" />
            <h4 class="nombreDeportista">
              <a [routerLink]="['/deportistas', deportista.id ]">{{deportista.nombre}} {{deportista.apellido}}</a>
            </h4>

          </div>
          <div class="row centrar d-flex justify-content-center">
            <div class="">
              <img class="iconoDeporte" src="../../../../assets/{{ deportista.icono }}" alt="">
            </div>
          </div>
        </div>
            
      </div>

    </div>

   <!-- 
    <div class="row justify-content-center">
      {% if deportistas.has_previous %}
      <a href="?page={{ deportistas.previous_page_number }}">
        <img class="flechas" src="/static/images/izquierda.svg" alt="">
      </a>
      {% endif %}

      <h6 class="currentPage">{{ deportistas.number }}</h6>

      {% if deportistas.has_next %}
      <a href="?page={{ deportistas.next_page_number }}">
        <img class="flechas" src="/static/images/derecha.svg" alt="">
      </a>
      {% endif %}
    </div>-->

    <app-pagination class="d-flex flex-row justify-content-center" (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numShops]="numDeportistas"></app-pagination>-
  </div>

     <!-- <app-pagination (paginaEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numShops]="numShops"></app-pagination>-->