..contenedorNav {
    background-color: #343a40 !important;
    background: linear-gradient(90deg, rgba(0, 128, 255,0.7) 0%, rgba(77, 166, 255,0) 83%);
  }
  .titulo{
    color: white;
  }
  .centrar {
    text-align: center;
  }
  .linea {
    background-color: rgb(2, 100, 200);
    margin-top: 20px;
    height: 10px;
    width: 100vw;
  }
  #iconoDeporte {
    height: 40px;
    margin: 10px;
  }
  #imagenDeportista {
    max-width: 100%;
    margin: 25px 10px 25px 10px;
  }
  #nombreDeportista{
    margin: 25px 0px 0px 0px;
    color: rgb(2, 100, 200);
  }
  #fechaNacimiento {
    font-size: 18px;
    margin-bottom: 20px;
    color: gray;
  }