

<div class="container-fluid contenedorNav">
  <div class="row">
    <h1 class="col-0 col-sm-0 col-md-8 col-lg-8">Colombia en Tokio 2020</h1>


      <div *ngIf="isLogueado" class="col-6 col-sm-6 col-md-2 col-lg-2">
        Bienvenido <b>{{username}}</b>
      </div>
      <div *ngIf="isLogueado" class="col-6 col-sm-6 col-md-2 col-lg-2">
        <a href="/logout">
          <div class="boton">
            <p>Logout</p>
          </div>
        </a>
      </div>



      <div *ngIf="!isLogueado" class="col-6 col-sm-6 col-md-2 col-lg-2">
          <div class="boton" (click)="OpenRegister()">
            <p>Register</p>
          </div>
      </div>
      <div *ngIf="!isLogueado" class="col-6 col-sm-6 col-md-2 col-lg-2">
          <div class="boton" (click)="OpenLogin()">
            <p>Login</p>
          </div>
      </div>
  </div>
</div>




<router-outlet></router-outlet>