<article class="card-body mx-auto h-100 d-flex flex-column justify-content-center p-0">

  <form class="shadow  bg-dark rounded position-relative p-3"
        [formGroup]="commentDataForm"
        (ngSubmit)="submitCommentForm(commentDataForm.value)">
    <span id="close" (click)="onCancelClick()" ><a>x</a></span>
    <div class="form-group text-white">
      <p class="text-center title" > <strong>Video / Comment</strong> </p>
    </div>
    <div class="scrollable">
    <youtube-player
      videoId="{{commentDataForm.get('idVideo').value}}"
      suggestedQuality="highres"
      [height]="360"
      [width]="640">
    </youtube-player>

    <div class="form-group input-group">
      <mat-form-field
        class="input-field w-100"
        [hideRequiredMarker]="false">
        <input
          matInput
          formControlName="texto"
          placeholder="texto"
          required>
        <mat-error *ngIf="commentDataForm.get('texto')?.invalid">
          El campo <strong>texto</strong> es requerido
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group  d-flex flex-row justify-content-center">
      <button id="cancel" type="button" value="Cancelar" class="btn bg-white mt-2 px-5"  (click)="onCancelClick()"> Cancelar  </button>&nbsp;&nbsp;
      <button id="send" type="submit" value="Comentar" class="btn bg-white mt-2 px-5"> Comentar  </button>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Comentario</th>
      </tr>
      </thead>
      <tbody id="table_content" *ngFor= "let comentario of comentarios">
      <tr>
        <td>{{comentario.usuario}}</td>
        <td>{{comentario.texto}}</td>
      </tr>
      </tbody>
    </table>
    </div>
  </form>
</article>



